spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/clouddb
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  sql:
    init:
      mode: always
      data-locations: classpath:data.sql
      platform: postgres

server:
  port: 8081
  servlet:
    context-path: /cloud


jwt:
  secret: ${JWT_SECRET:cloudappsecretkeycloudappsecretkeycloudappsecretkey}
  expiration: 3600000