# Compiled files
*.class
target/
*.log
*.jar
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.vscode/
.gigaide/

# Maven
log/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Docker
**/docker-compose.frontend.yml
**/docker-compose.override.yml

# Frontend
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env.*.local

# Backend
*.DS_Store
application-local.yml
application-dev.yml
application-prod.yml